body {
	background-color: #4C545D;
}
/* <!--стиль отображения навигационного меню--> */
.nav_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	height: 50px;
	border-bottom: 1px solid white;
}
/* <!--стиль отображения вкладок в навигационном меню--> */
.nav_menu a{
	padding: 10px;
	padding-bottom: 18px;
	color: white;
	letter-spacing: .2em;
	text-decoration: none;
}

.nav_menu a:hover {
	background-color: #4C545D;
	border-radius: 20px 20px 0 0;
}

.active {
	background-color: #4C545D;
	border-radius: 20px 20px 0 0;
	font-size: 20px;
}
/* <!--стиль таблицы "СПИСОК СОТРУДНИКОВ"--> */
.table_shell {
	width: 45%;
	margin: 20px auto;
	border: 1px solid white;
	border-radius: 8px;
	min-width: max-content;
	max-width: min-content;
}

.table_emp {
	width: 100%;
}

.table_emp thead th {
	font-weight: bold;
	text-align: center;
	padding: 10px 15px;
	background: #343a40;
	color: white;
}

.table_emp thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}

.table_emp thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}

.table_emp tbody td {
	text-align: center;
	padding: 10px 15px;
	font-size: 14px;
	color: white;
}

.table_emp tbody tr:nth-child(even) {
	background: #5d6771;
}

.table_emp tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}

.table_emp tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
/* <!--стиль отображения номера телефона--> */
.phone_num {
	letter-spacing: .07em;
}
/* <!--стиль карточки "СОТРУДНИК МЕСЯЦА"--> */
.employee_card {
	color: white;
	margin: 20px auto;
	padding: 10px 15px;
	border: 1px white solid;
	border-radius: 8px;
	min-width: max-content;
	max-width: min-content;
	background-color: #5d6771;
}
/* <!--стиль формы "ДОБАВИТЬ СОТРУДНИКА" для получения данных--> */
.form_shell {
	width: 40%;
	margin: 20px auto;
	padding: 15px;
	background-color: #5d6771;
	border-radius: 8px;
}

.form_group {
	margin-bottom: 15px;
}

.form_group label {
	margin-bottom: 5px;
	color: white;
}

.form_group input {
	width: 100%;
	padding: 8px;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	background-color: #4C545D;
	color: white;
}

.button_add {
	background-color: #343a40;
	color: #FFFFFF;
	border: none;
	padding: 10px 15px;
	border-radius: 8px;
	width: 100%;
}

.button_add:hover {
	background-color: #4C545D;
}
/* <!--...........................--> */

